<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ученики</title>
</head>
<body>

<h2>
    {{descriptionValue}}
</h2>

{{#each gamesArray}}
    <div style="background: yellow; margin-bottom: 15px; padding: 8px;">
        Название: {{this.name}}
        <br>
        Описание: {{this.desc}}
        <br>
        Возрастное ограничение: {{this.age}}
    </div>
{{/each}}

</body>
</html>